.navbar{
  width: 100vw;
  height: 24px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.icons{
  width: 46px;
  height: 10px;
  top: 7px;
  left: 306px;
  display: flex;
  justify-content: right;
  align-items: center;
}



